<br />
<div class="row">
    <div class="col-1"> </div>
    <div class="col-10"> 
        <h1>Ejercicio: Directivas</h1>
        <hr />
        <br />
    </div>
    <div class="col-1"> </div>
</div>
<br />
<div class="row">
    <div class="col-1"> </div>
    <div class="col-10 text-center"> 
        <!--
        <ng-template [ShowIf]="isShow">
            <h1 (click)="onClick()" transformcolor [colorName]="color" [colorName2]="color2">{{texto}}</h1>
        </ng-template>
        -->        
        <h1 *ShowIf="isShow" (click)="onClick()" transformcolor [colorName]="color" [colorName2]="color2">{{texto}}</h1>
        <br />
        <br />
        <input type="text" class="form-control" value="demo directivas" />
        <br />
        <p><b>Number in Service: </b> {{demoNumber}}</p>
    </div>
    <div class="col-1"> </div>
</div>
<br />
<div class="row">
    <div class="col-1"> </div>
    <div class="col"> 
        <div class="form-group">
            <label><b>Color</b></label>
            <select class="form-select" name="color" [(ngModel)]="color" (change)="onChangeSelect()" >
                <option *ngFor="let item of colors" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="col"> 
        <div class="form-group">
            <label><b>Color Mouse</b></label>
            <select class="form-select" name="color2" [(ngModel)]="color2">
                <option *ngFor="let item of colors" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>    
    <div class="col"> 
        <div class="form-group">
            <label><b>Mostrar</b></label>
            <select class="form-select" name="isShow" [(ngModel)]="isShow">
                <option [ngValue]="true">Sí</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>
    </div>     
    <div class="col-1"> </div>
</div>
<br />
