<br />
<div class="row">
    <div class="col-1"> </div>
    <div class="col-10"> 
        <h1>Ejercicio: Maestro - Detalle</h1>
        <hr />
        <br />
    </div>
    <div class="col-1"> </div>
</div>
<br />
<div class="row">
    <div class="col-1"> </div>
    <div class="col-5"> 
        <h2>Listado de Clientes</h2>
        <hr />
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td style="width: 10%;"><b>ID</b></td>
                    <td style="width: 20%;"><b>Nombre</b></td>
                    <td style="width: 30%;"><b>Apellidos</b></td>
                    <td style="width: 25%;"><b>Ciudad</b></td>
                    <td style="width: 15%;"> </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userItem of usersList">
                    <td>{{userItem.id}}</td>
                    <td>{{userItem.firstname}}</td>
                    <td>{{userItem.lastname}}</td>
                    <td>{{userItem.office}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="onClickFicha(userItem)">ficha</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <p><b>Seleccionado:</b> {{userSelect.firstname | uppercase}} {{userSelect.lastname | lowercase}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'short'}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'medium'}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'long'}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'full'}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'fullDate'}}</p>
        <p><b>Fecha: </b> {{currentDate | date : 'dd/MM/yyyy'}}</p>
        <p><b>Observable: </b> {{time | async | date : 'medium'}}</p>
    </div>
    <div class="col-5"> 
        <!-- Incorporamos el HTML del detalle dentro del HTML del maestro -->
        <app-detail #detail1 [userElement]="userSelect" (onSave)="onSaveUser($event)"></app-detail>
    </div>
    <div class="col-1"> </div>
</div>
<br />
<br />
<br />
<br />